apiVersion: 1
prune: true
datasources:
- name: Prometheus
  uid: prometheus
  type: prometheus
  access: proxy
  url: http://{{links.prometheus.host}}:{{links.prometheus.port}}
  isDefault: true
  editable: false
